body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.titles-container {
    background-color: #1A4785;
    color: white;
    text-align: center;
    padding: 20px;
}

.welcome-title {
    margin: 0;
}

.image-container {
    text-align: center;
    margin-top: 85px;
    margin-bottom: 85px;
}

.maua-logo{
    width: 250px;
    height: 125px;
}

.button-order {
    background-color: #1A4785;
    color: white;
    padding: 10px 20px;
    width: 120px;
    height: 50px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.button-order:hover {
    background-color: #3A6EB0;
    transform: scale(1.1);
}

.div-button {
    text-align: center;
}